<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= profile.body %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= profile.contact %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= profile.avatar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
