<div id="<%= dom_id event %>" class="event_card">
    <%= image_tag event.event_image.url, class: "event_image" %>
    <div class="overlay"></div>
    

    <div class="container_card">
  <h2 class="event_title"><%= event.title %></h2>

  <p><%= event.user.username %></p>
  <p><%= event.body %></p>

  </div>
</div>
