<div id="<%= dom_id event %>">
  <%= image_tag event.event_image.url, :class => "event_image" %>
  <h2><%= event.title %></h2>


  <p><strong>Автор:</strong> <%= event.user.username %></p>

  <p><%= event.body %></p>

</div>