<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <%= render comment %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>