<%= render @event %>
<strong>Сообщество:</strong>
<%= @event.community[:title] %>

<div>
  <% if can? :manage, @event %>
    <%= link_to "Отредактировать ивент", edit_event_path(@event) %>
    <%= button_to "Удалить ивент", event_path(@event), method: :delete %>
  <% end %>
  <%= link_to "Вернуться к ивентам", events_path %>
</div>

<h2>Добавить комментарий:</h2>
<%= render "admin/e_comments/form" %>

<%= turbo_stream_from "e_comments" %>

<h2>Комментарии</h2>
<%= turbo_frame_tag "e_comments" do %>
  <%= render @event.e_comments %>
<% end %>
