<div id="<%= dom_id meet %>">
  <p>
    <strong>Body:</strong>
    <%= meet.body %>
  </p>

  <p>
    <strong>Date hosted:</strong>
    <%= meet.date_hosted %>
  </p>

  <p>
    <strong>Geotag:</strong>
    <%= meet.geotag %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meet.user_id %>
  </p>

</div>
