<p style="color: green"><%= notice %></p>

<%= render @community %>

<div class="block_communities">
  <% @community.events.each do |event| %>
    <%= link_to event, class: "card_community" do %>
      <%= render event %>
    <% end%>
  <% end%>
</div>

<div>
  <%= link_to "Edit this community", edit_community_path(@community) %> |
  <%= link_to "Back to communities", communities_path %>

  <%= button_to "Destroy this community", @community, method: :delete %>
</div>