<%= render @community %>

<div class="block_communities">
  <% @community.events.each do |event| %>
    <%= link_to event_path(event), class: "card_community" do %>
      <%= render event %>
    <% end%>
  <% end%>
</div>

<div>
  <% if can? :update, @community %>
    <%= link_to "Edit this community", edit_admin_community_path(@community) %>
  <% end %>
  <%= link_to "Back to communities", communities_path %>
  <% if can? :destroy, @community %>
    <%= button_to "Destroy this community", community_path(@community), method: :delete %>
  <% end %>
</div>